body {
  background-color: ivory;
  color: gray;
}

h1 {
  font-size: 35px;
}

p {
 font-size: 16px;
  background-color: lavender;
  color: darkblue;
}

ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-type: square;
}

.div-1 {
  background-color: white; 
}
   
.div-2 {
  background-color: silver; 
}

.index-div {
  border-style: dotted;
  border-width: 2px;
  width: 200px;
  height: 200px;
}

