body {
  background-color: ivory;
  color: black;
}

h1 {
  font-size: 35px;
}

p {
 font-size: 16px;
  background-color: lavender;
  color: black;
}

ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-type: square;
}

.div-1 {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 59px;
  margin-left: 80px;
  background-color: lavender;
}
   
.div-2 {
  background-color: silver; 
   padding: 20px;
}

.index-div {
  border-style: dotted;
  border-width: 2px;
  width: 200px;
  height: 200px;
}

